@mixin trans-delay($delay) {

	@for $i from 1 through 5 {
		span:nth-child(#{$i}) {
			transition-delay: $delay + (0.1 * $i) ;
		}
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
}

img {
	display: block;
	max-width: 100%;
	/*min-height: 1px;*/
	/*height: 100%;*/
	margin: auto;
}

[class*='col-'] {
	float: left;
	width: 100%;
	min-height: 1px;
	padding: 12px;
	position: relative;

	&.no_padding {
		padding: 0px;
	}
}

.clearfix:before,
.clearfix:after {
	content: " ";
    display: table;
    clear: both;
}

.site_container {
	max-width: 1500px;
	margin: auto;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20 {width: 20%;}
.col-40 {width: 40%;}

body {
	background: #eee;
	font-size: 16px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// font-family: 
}

header {
	background: rgba(250, 250, 250, 0.8);

}

header > .container {
	text-align: justify;
	height: 4em;
}

header > .container {
	.main_navigation,
	.contact_details,
	.logo
	 {
		display: inline-block;
		vertical-align: middle;
    	text-align: left;
	}

	.logo {
		height: 100%;

		&::before {
			content: "";
		} 

		&::before, h1 {
			display: inline-block;
	    	vertical-align: middle;
	    	text-align: left;
	    	height: 100%;
		}

		h1 {
			position: relative;
			top: 30%;
		}
	}

	&::after {
	    content: '';
	    display: inline-block;
	    width: 100%;
	}
}

.intro_content {
	background-color: #e6e6e6;
	padding: 150px 0;

	h2 {
		font-size: 5em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	p {
		font-size: 2.5em;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 50px;
		margin-top: 50px;
		width: 70%;
	}
}

.main_navigation{

	.nav_container {
		height: 100%;
		line-height: 100%;
	}
	position: relative;
	right: 20%;
	height: 100%;
}

.contact_details {
	text-align: right;
	.contact_item {
		float: left;
	}
}
.nav_container {
	.nav_item {
		float: left;
		line-height: 4em;

		a {
			padding: 0 30px;
			color: #333;
			text-transform: uppercase;
			font-size: 0.8em;
			letter-spacing: 1.5px;
			font-weight: bold;
		}
	}
}

.feature {
	height: 650px;
	position: relative;
}

.feature h4 {
	color: #FFF;
	font-size: 25px;
	letter-spacing: 2px;
}

// .features .feature:nth-child(odd) {
// 	background-color: #333;
// 	background-image: url("../img/milling.no3.jpg");
	
// }

.feature_content {
	padding: 50px;
	height: 100%;
	z-index: 100;
	position: relative;
}

.bcg_placeholder {
	position: absolute;
	background-image: url("../img/milling.no3.jpg");
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.features .feature:nth-child(even) {
	background-color: rgba(250,250,250, 1);
	background-image: url("../img/welding.png");
	background-position: center center;
	background-size: cover;
}

.services, .materials {
	position: absolute;
	bottom: 60px;
	overflow: hidden;
}

.bcg_placeholder {
	// background: rgba(0, 0, 0, 0.2);
}

.services {
	@include trans-delay(0.1s);
}

.materials {
	@include trans-delay(0.1s);
}

.services span, 
.materials span {
	display: block;
	transform: translateX(-350%);
	transition: all 1s;
	color: #FFF;
	font-size: 22px;
	padding: 15px 0;
}


.feature:hover .services span,
.feature:hover .materials span{
	transform: translateX(0%);
}

.contact_items {
	background: #333;
	padding: 150px 0;
} 







// .feature {
// 	background-color: red;
// }

.feature_content {
	
}

